	*{
		margin:0;
		padding:0;
		/* font-family:"黑体"; */
	}
	body{
		
		margin-top:70px!important;
		background-color: rgb(241,241,241);
	}

	#bar{
		margin-bottom: 100px!important;
		background-color: rgb(43	,49,55)!important;
	}
	#bar a{
		color:white;
	}
	#bar a:hover{
		color:rgb(226,216,216);
	}

	#Slogan{
		color: black;
		
		
	}
	#Slogan h1{
		font-size: 50px;
		font-weight: 500;
		margin-bottom: 16px!important
	}
	/*
	div.nav{
		background-color:#eee;
		border-bottom:1px solid #ccc;
	}
	div.nav a.logo{
		display:inline-block;
	}
	div.nav a{
		text-decoration:none;
		color:#000;
		padding:10px 10px;
	}*/